
<body align="center">
<p align="center"><img src="enternames.jpg" width="700" height="130"></p>

<form action="/hello" method="POST" align="center">
	<img src="player1.jpg" width="100" height="38"><input type="text" name="greeting">
	<br/>
	<img src="player2.jpg" width="100" height="38"><input type="text" name="greeting2">
	<br/>
	<br/>
	<input type="image" src="play.jpg" width="100" height="35" name="submit">
</form>
</body>